{% extends "main/base.html" %}

{% block title %}
    <h1 class="text-center text-warning-emphasis">diepvries</h1>
{% endblock title %}
{% block precontent %}
    <div class="container text-center">
        <div class="row">
            <div class="col">
            </div>

            <div class="col">
            </div>

            <div class="col-1">
                            <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    +
                </button>
                
                <!-- Modal -->

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Pot veranderen</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post">
                                {%csrf_token%}
                            <div class="container">
                                
                                <div class="input-group">
                                    <span class="input-group-text">potnummer en personen</span>
                                    <input type="text" aria-label="potnummer" name="potnummer" value="" placeholder="potnummer" class="form-control" required="True">
                                    <input type="text" aria-label="personen" name="personen" value="" placeholder="personen" class="form-control">
                                </div>
                            </div>
                            <div class="container">
                                <div class="input-group">
                                    <span class="input-group-text">First and last name</span>
                                    <input type="text" aria-label="omschrijving" name="omschrijving" value="" placeholder="omschrijving" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save</button>
                        </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock precontent %}
{% block content %}
<ul>
    <div class="container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"><h3 class="text-success-emphasis">pot_nummer</h3></th>
                <th scope="col"><h3 class="text-success-emphasis">omschrijving</h3></th>
                <th scope="col"><h3 class="text-success-emphasis">personen</h3></th>
                <th scope="col"><h3 class="text-success-emphasis">datum van invriezen</h3></th>
              </tr>
            </thead>
            <tbody>
                {% for x in inhoud %}
                <tr>
                    <th scope="row">{{x.pot_nummer}}</th>
                    <td>{{x.omschrijving}}</td>
                    <td>{{x.personen}}</td>
                    <td>{{x.datum}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</ul>
{% endblock content %}
